{
  "plugins": ["prettier"],
  "extends": ["plugin:@next/next/recommended"],
  "rules": {
      "prettier/prettier": "error"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2015,
  },
}
